<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Test Form</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Test Form</h1>
    <form action="/testFormResult" method="post">
     <label for="test">Test</label>
     <input id="test" name="test" type="text">
     <label for="test2">Test2</label>
     <input id="test2" name="test2" type="text">
     <button type="submit">Go!</button>
    </form>
  </body>
</html>